%p#notice= notice
%h1="#{@user_report.users.name} report for #{user_report.report.name}"
.block
  %h3 Hours:
  %h4.span @employee.hours

  %h4 @report.hours



= link_to 'Edit', edit_users_report_path(@users_report)
\|
= link_to 'Back', users_reports_path
