%table.table.table-hover
  %thead
    %p= "#{employee.name}: #{employee.days_worked} days"
    - if (options[:name])
      %br= " on #{options[:name]}"
  %tbody
    %tr.headers
      %th Report
      %th Date
      %th Assigned Tasks
      %th Completed Tasks
    - employee.assigned_reports.each do |report|
      %td=link_to "Report #{report.id}", "users_reports/#{report.id}"
      %td=report.date
      %td=report.assigned_tasks.count
      %td=report.completed_tasks.count

