%form{ :method => 'post', action: 'employees/save_data'}
  - if @employee_logs.errors.any?
    #error_explanation
      %h2= "#{pluralize(@employee_logs.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @employee_logs.errors.full_messages.each do |msg|
          %li= msg
  %table
    %theader
      %h2 Add Employees To Your Account
    %tbody
      %tr
        %th Email
        %th Employee ID
        %th Role
        %th="  "
      .employee-logs
      - if (@employee_logs)
        - @employee_logs.each do |log|
          %tr.row
            = render partial: 'employees/row', locals: { log: log }
        %tr.row.last
          = render partial: 'employees/row', locals: { log: false }
    %tfooter
      %input.submit{:type => "submit", :name => "submit"} Save!
  %br
  %h4 Came prepared? Upload a CSV instead
  %form{:action=>"employees/upload", :method=>"post", :enctype=>"multipart/form-data"}
    %input{:type=>"file",:name=>"file"}
    %input{:type=>"submit",:value=>"Upload"}
