%table.table.table-hover
  %thead
    %h3= "#{employee.name}: #{employee.hours} hours"
    - if (options[:name])
      %br= " on #{options[:name]}"
  %tbody
    %tr.headers
      %th Report
      %th Checkin
      %th Checkout
      %th Hours
    - employee.users_reports.each do |report|
      %td=link_to report.report.name, users_reports_path(report)
      %td=report.checkin
      %td=report.checkout
      %td=report.hours