- if (log)
  - if (log.email)
    - log_id = log.email ? log.email : nil
    - email = log.email ? log.email : nil
    - email_id = log_id ? "employee-log-email-#{log_id}" : nil
    - employee_number_id = log_id ? "employee-log-employee-number-#{log_id}" : nil
    - employee_role_id = log_id ? "employee-log-role-#{log_id}" : nil
    %td
      %h5.h5{:id => email_id}= log.email
    %td
      %h5.h5{:id => employee_number_id}= log.employee_number
    %td
      %h5.h5{:id => employee_role_id}= log.role
    %td
      %h5.h5
      %button{:onclick => "deleteRow(#{email});"} X
    = render partial: 'employees/logs_script', :locals => {:email_id => email_id, :employee_number_id => employee_number_id, :employee_role_id => employee_role_id }
