%table
  %thead= @employee.name
  %tbody
  %tr.headers
    %th Email
    %th Name
    %th Task Completion %
    %th Hours
  - @user.company.employees.each do |e|
    %tr.row
      %td= e.name
      %td
        %a{:href => "#{e.email}"} e.email
      %td= "#{e.tasks_completion_percent}"
      %td= "#{e.hours}"
      %td.slim
       %input.btn.btn-success{type: "checkbox", :name => "employees", :value => e.id}
  %tfooter
    %p Came prepared?
      %span.a{href: '#upload-csv'} Upload Csv
    #upload-csv{:hidden => true}
      = render '../layouts/csv-form'