%h2.title
  = "#{user.name}"
.inner
  %table.table.table-hover
    %thead
      %a{onclick: 'showProjectData()'} Projects
    %tr
      %th Name
      %th Start Date
      %th Employee Number
      %th Company
    %tr
      %td= user.name
      %td= user.email
      %td= user.employee_number
      %td= user.company.name

:javascript
  function showProjectData() {
    $('#admin-data').hide();
    $('#project-data').show();
  }
