%ul.wat-cf
  %li.active
    %a= link_to "Projects", '/projects'
  %li
    %a= link_to "Clients", '/clients'
  %li
    %a= link_to "Reports", '/reports'
  %li
    %a= link_to "Employees", '/employees'
  %li
    %a= link_to "Stats", '/stats'

