%table.table
  %thead
    %h2
      - if (name)
        = "#{name} "
      = "Tasks"
      - if (options[:name])
        %br=" for #{options[:name]}"
  .tasks{:name => name}
    - tasks.each do |task|
      = render partial: 'tasks/show', locals: { task: task }
    = link_to 'New Task', 'tasks/new', :data => {:owner => @owner, :employees => [users_report.user], :div => ".tasks[name=#{name}]", :remote => true

