%table.table
  %thead
    %h2
      - if (name)
        = "#{name} "
      = "Tasks"
      - if (options[:name])
        %br=" for #{options[:name]}"
  - reports_tasks.each do |task|
    - if (task.completed)
      %tr.col-red
        %td= link_to task.name, tasks(task)
        %td= task.description
        %td= "Completed at: #{task.updated_at}"
        %td= task.note
        %td= task.reports_tasks.
    - else
      %tr.col-green

