- complete = task.complete ? "#{task.updated_at}" : 'No'
- column_color = task.complete ? 'success' : 'danger'
%tr{:class => column_color}
  %td= task.task.id
  %td= task.task.description
  %td= complete
  %td= task.note
  %td
    %a.btn.btn-default Edit