- complete = task.complete ? "#{task.updated_at}" : 'No'
- column_color = task.complete ? 'success' : 'danger'
- id_name = task.id ? task.id.to_s : nil
- new_task_id_name = id_name ? "#{id_name.to_s}" : ''
- task_task = task.task ? task.task : nil
- description = task_task ? task_task.description : ""

%tr{:class => column_color}
  %td= id_name
  %td= task_task.andand.description
  %td= complete
  %td= task.note
  %td
    %a.dunworry Edit
  %td
    .form
      %form{'accept-charset' => "UTF-8", :class => "##{new_task_id_name}", :action=>"reports_tasks/#{id_name}.json", 'data-remote' => "true", :method=>"delete", :onsubmit => "return greeting('##{new_task_id_name}')" }
        %input{'type' => :hidden, :name => 'id', :value => new_task_id_name}
        %input.btn.btn-danger{:type => 'submit', :id => "#{new_task_id_name}", :name => 'submit', :value => 'X' }

    :javascript
      function greeting(name) {
        console.log(name);
        $(name).closest('tr').remove();
        return true;
      };