.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", admin_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.admin.name", :default => t("activerecord.labels.name", :default => "Name"))
          \:
        = @admin.name
      %p
        %b
          = t("activerecord.attributes.admin.email", :default => t("activerecord.labels.email", :default => "Email"))
          \:
        = @admin.email
      %p
        %b
          = t("activerecord.attributes.admin.employee_number", :default => t("activerecord.labels.employee_number", :default => "Employee number"))
          \:
        = @admin.employee_number
      %p
        %b
          = t("activerecord.attributes.admin.password", :default => t("activerecord.labels.password", :default => "Password"))
          \:
        = @admin.password
      %p
        %b
          = t("activerecord.attributes.admin.api_secret", :default => t("activerecord.labels.api_secret", :default => "Api secret"))
          \:
        = @admin.api_secret
      %p
        %b
          = t("activerecord.attributes.admin.type", :default => t("activerecord.labels.type", :default => "Type"))
          \:
        = @admin.type
      %p
        %b
          = t("activerecord.attributes.admin.auth_token", :default => t("activerecord.labels.auth_token", :default => "Auth token"))
          \:
        = @admin.auth_token
      %p
        %b
          = t("activerecord.attributes.admin.role", :default => t("activerecord.labels.role", :default => "Role"))
          \:
        = @admin.role
      %p
        %b
          = t("activerecord.attributes.admin.company_id", :default => t("activerecord.labels.company_id", :default => "Company"))
          \:
        = @admin.company_id
      %p
        %b
          = t("activerecord.attributes.admin.contact_id", :default => t("activerecord.labels.contact_id", :default => "Contact"))
          \:
        = @admin.contact_id
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_path(@admin), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_path(@admin), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
