.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", users_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_user_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", user_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.user.name", :default => t("activerecord.labels.name", :default => "Name"))
          \:
        = @user.name
      %p
        %b
          = t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email"))
          \:
        = @user.email
      %p
        %b
          = t("activerecord.attributes.user.employee_number", :default => t("activerecord.labels.employee_number", :default => "Employee number"))
          \:
        = @user.employee_number
      %p
        %b
          = t("activerecord.attributes.user.password", :default => t("activerecord.labels.password", :default => "Password"))
          \:
        = @user.password
      %p
        %b
          = t("activerecord.attributes.user.api_secret", :default => t("activerecord.labels.api_secret", :default => "Api secret"))
          \:
        = @user.api_secret
      %p
        %b
          = t("activerecord.attributes.user.type", :default => t("activerecord.labels.type", :default => "Type"))
          \:
        = @user.type
      %p
        %b
          = t("activerecord.attributes.user.auth_token", :default => t("activerecord.labels.auth_token", :default => "Auth token"))
          \:
        = @user.auth_token
      %p
        %b
          = t("activerecord.attributes.user.role", :default => t("activerecord.labels.role", :default => "Role"))
          \:
        = @user.role
      %p
        %b
          = t("activerecord.attributes.user.company_id", :default => t("activerecord.labels.company_id", :default => "Company"))
          \:
        = @user.company_id
      %p
        %b
          = t("activerecord.attributes.user.contact_id", :default => t("activerecord.labels.contact_id", :default => "Contact"))
          \:
        = @user.contact_id
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_user_path(@user), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), user_path(@user), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
