- chat_prompt = 'Start a conversation!'
- has_messages = messages.present? ? (messages.first.present? ? true : false ) : false
- user_messages = has_messages ? messages : ([Model.new({:text => chat_prompt, :status => ''})])
.chat
  %h4= "Chat with: #{@name}"
  .new-well{ :id => "users-chat-#{id}"}
    - user_messages.each do |m|
      %table.table
        %tbody
          %tr
            %h4{:style => "color: blue"}= m.text
  = render partial: 'chats/form', :locals => { id: id, div:  "#users-chat-#{id}"}

  $(document).ready(function(){
    if (Backbone.History.started == false) {
      window.Metrics.init();
    }
  });
