.chat.container
  .grid{ id: => "#users-chat-#{id}"}
    - messages.each do |m|
      .gridrow.message
        %h4="#{m.text}"
        %small="#{m.status}"
  = render partial: 'chats/form', :locals => { id: id, div:  "#users-chat-#{id}"}
