.block.content
  %table.table{:style => "margin-top: 0px; padding-top: 0px;"}
    %h3{:style=> "text-align: center;"}= "#{@project.name}"
    %tr#projects-nav
      %td.active= link_to "Summary", projects_summary_path({:data => {:project => project, :div => '#projects-template'}}), :remote => :true, :class => 'linkster'
      %td= link_to "Reports", reports_path({:data => {:reports => 'date', :options => {:project_id => @project.id}, :div => '#projects-template'}}), :remote => :true, :class => 'linkster'
      %td= link_to "Clients", clients_path({:data => {:clients => 'name', :options => {:project_id => project.id}, :div => '#projects-template'}}), :remote => true, :class => 'linkster'
      %td= link_to "Employees", employees_path({:data => {:employees => 'name', :name => project.name, :options => {:project_id => project.id, :type => 'Employee'}, :div => '#projects-template'}}), :remote => true, :class => 'linkster'
      %td= link_to "Managers", employees_path({:data => {:employees => 'name', :options => {:project_id => project.id, :type => 'Manager'}, :name => project.name, :div => '#projects-template'}}), :remote => true, :class => 'linkster'
      = render partial: 'projects/jscript'
  #projects-template
    = render partial: 'projects/summary', :locals => {:project => project}
- content_for :sidebar, render(:partial => 'projects/sidebar')