.block.content
  %table.table{:style => "margin-top: 0px; padding-top: 0px;"}
    %h3{:style=> "text-align: center;"}= "#{@project.name}"
    %tr
      %td.active= link_to "Summary", "projects/summary", :data => {:project => @project, :div => '#projects-template'}, :remote => :true
      %td= link_to "Reports", "reports/index", :data => {:reports => @project.reports.order(:date), :options => {:project_id => project.id}, :div => '#projects-template'}, :remote => :true
      %td= link_to "Clients", "clients/index", :data => {:clients => project.clients.order(:name), :options => {:project_id => project.id}, :div => '#projects-template'}, :remote => true
      %td= link_to "Employees", "employees/index", :data => {:employees => project.employees.order(:name), :name => project.name, :options => {:project_id => project.id}, :div => '#projects-template'}, :remote => true
      %td= link_to "Managers", "managers/index", :data => {:managers => project.managers.order(:name), :options => {:project_id => project.id}, :name => project.name, :div => '#projects-template'}, :remote => true
      = render partial: 'projects/jscript'
  #projects-template
    = render partial: 'projects/summary', :locals => {:project => @project}
- content_for :sidebar, render(:partial => 'sidebar')