%h2.title
  = "#{@project.name} Summary"
%dl.dl-horizontal
  %dt Dates:
  %dd="#{project.start_date} - #{project.end_date}"
  %dt Hours:
  %dd="#{project.hours}"
  %dt Completion:
  %dd="#{project.tasks_completion_percent}"
  %dt Manager:
  %dd{:href => 'managers/#{project.manager.id}'}="#{project.manager.name}"