.dates
  %h3="#{project.start_date} - #{project.end_date}"
.hours
  %h3="Hours: #{project.hours}"
.completion
  %h3= "Completion: #{project.tasks_completion_percent}"
.manager
  %h3{:href => 'managers/#{project.manager.id}'}="Manager: #{project.manager.name}"