.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", projects_path
      %li= link_to "#{t("web-app-theme.list", :default => "List")}", old_projects_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      = "#{@user.company.name} Projects"
    .inner
      %table.table
        %tr
          %th.first Name
          %th Start Date
          %th End Date
          %th % Complete
          %th Hours
          %th.last &nbsp;
        - @user.company.projects.each do |project|
          %tr{:class => cycle("odd", "even")}
            %td= link_to project.name, project_path(project)
            %td= project.start_date
            %td= project.end_date
            %td= project.tasks_completion_percent
            %td= project.hours
            %td.last
              %button= link_to "#{t("web-app-theme.show", :default => "Show")}", project_path(project)
              %button.span= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_project_path(project)}
              %button.span= link_to "#{t("web-app-theme.delete", :default => "Delete")}", project_path(project), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
