- content_for :main_nav, render(:partial => 'admins/main_nav')
- content_for :user_nav, render(:partial => 'admins/user_nav')
.block
  .secondary-navigation
    %ul.wat-cf
      %li.active= link_to "#{@project}", projects_path(@project)
  .content
    .inner
      %p
        %b Name:
        = @project.name
      %p
        %b
          Start Date:
        = @project.start_date
      %p
        %b
          End Date:
        = @project.end_date
      %p
        %b
          Budget:
        = @project.budget
      %p
        - if (@project.complete)
          %b.red Not Complete
        - else
          %b.green Complete
      %p
        %b
          Manager:
        = link_to "#{@project.manager.name}", "/managers/#{@project.manager.id}"
- content_for :sidebar, render(:partial => 'sidebar')
