#reportapp
#show 
  %button Add New Report 
  - if user.reports.present?
    %table.table
      %h3 Reports
      %tbody.table{:style => "text-align: center;"}
        %tr
          %th Name
          %th Date
          %th Client
          %th Employees
        - user.reports.each do |report|
          %tr{:style => "text-align: center;"}
            %td= "#{report.description}"
            %td= "$#{report.report_date}"
            %td= "#{report.workers.count}"
            %td
              %button.btn View Report    
    .alert.alert-info
      %small The above are the reports that works can receive and fill out in the field 