#show 
  .container.wrap{:style => " width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 5%; vertical-align:top; display-inline: block; padding: 2px; "}
    %form{:method => "POST", :action => 'api/sessions/destroy'}
      %input.button.btn.btn-primary{:type => "submit", :name => "logout", :value => "Logout", :style => "float: right; margin-right: 10%;"}
    - if user.reports.present?
      - else
        %table.table
          %h3 Reports
          %tbody.table{:style => "text-align: center;"}
            %tr
              %th Name
              %th Date
              %th Client
              %th Employees
            - user.reports.each do |report|
              %tr{:style => "text-align: center;"}
                %td= "#{report.description}"
                %td= "$#{report.report_date}"
                %td= "#{report.workers.count}"
                %td
                  %button.btn View Report    
        .alert.alert-info
          %small The above are the reports that works can receive and fill out in the field 
      #todoapp
        %header
          %h1 Todos
          %input#new-todo{placeholder: "What needs to be done?", type: "text"}
        %section#main
          %input#toggle-all{type: "checkbox"}
          %label{for: "toggle-all"} Mark all as complete
          %ul#todo-list
        %footer
          %a#clear-completed Clear completed
        #todo-count
    - else
      .sub-container.wrap{:style => "width: 45%; float: left; display-inline: block; margin: none; vertical-align: top; padding: 2%; "}
        %h4 Add a daily report
        %form.wrap#reports{:method => "POST", :action => "/reports" }
          = hidden_field_tag :user_id, user.id
          %h3  New Report
          .ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset.ui-input-has-clear
            %input#description{"data-clear-btn" => "true",:name => "description", :type => "text", :placeholder => "Description"}
          .ui-input-date.ui-body-inherit.ui-corner-all.ui-shadow-inset
            %input#datepicker{"data-role" => "date", :type => "date", :name => "report_date", :class => "hasDatePicker"}
          %div.ui-field-contain.ui-body.ui-br#theButton{"data-role"=>"fieldcontain"}
            %label{:for => "select-choice-1", :class => "select ui-select"} 
              Client
            .ui-select
              %a.ui-btn.ui-btn-icon-right.ui-btn-corner-all.ui-shadow.ui-btn-up-c{:href => "#","role"=>"date","data-theme"=>"c", "aria-haspopup"=>"true"}
                %a.ui-btn.ui-btn-inline.ui-btn-icon-notext.ui-btn-up-a{"data-corners" => "true", "data-icon" => "plus", "data-iconpos" => "notext", "data-iconshadow" => "true", "data-inline" => "true", "data-role" => "button", "data-shadow" => "true", "data-theme" => "a", "data-wrapperels" => "span", href: "index.html", title: "My button"}
                  %span.ui-btn-inner
                    %span.ui-btn-text Add Client
                    %span.ui-icon.ui-icon-plus.ui-icon-shadow  
                %select#select-choice-1{:name => "select-choice-1", :class => "select", "data-native-menu" => "true", "tab-index"=> "-1"}
                  - if (user.andand.clients)
                    - user.clients.each do |c|
                      %option{value: c.name} c.name
                  %option#addClient{value: "add_client"} Add Client
          .ui-input-clear.ui-btn
            %input{:type=>"submit", :name=>"submit"}
        .alert.alert-info
          %small Create the initial report data to fill in the workers and tasks 