= csrf_meta_tags
.container.wrap{:style => " width: 80%; float: right; margin-left: 10%; margin-right: 10%; margin-top: 5%; vertical-align:top; display-inline: block; padding: 2px; "}
  %form{:method => "POST", :action => app_logout_url}
    %input.button.btn.btn-primary{:type => "submit", :name => "logout", :value => "Logout", :style => "float: right; margin-right: 10%;"}
  - if @current_user.reports.present?
    - if @global_error.present?
      %p= @global_error
    - if @error_message.present?
      .alert.alert-danger
        %h5= "#{@error_message}"
    - else
      %table.table
        %h3 Reports
        %tbody.table{:style => "text-align: center;"}
          %tr
            %th Name
            %th Date
            %th Client
            %th Employees
          - current_user.reports.each do |report|
            %tr{:style => "text-align: center;"}
              %td= "#{report.description}"
              %td= "$#{report.report_date}"
              %td= "#{report.workers.count}"
              %td
                %button.btn View Report
      .alert.alert-info
        %small The above are the reports that works can receive and fill out in the field 
  - else
    %h4 Add a daily report
  .sub-container.wrap{:style => "width: 45%; float: left; display-inline: block; margin: none; vertical-align: top; padding: 2%; "}
    %form.wrap{:method => "POST", :action => "add_report" }
      %table.table
        %h3  New Report
        %tbody.table{:style => "text-align: center; border: 1px; "}
          %tr
            %th Name
            %td
              %input.pull-right{:name => "description", :type => "text"}
          %tr
            %th Date
            %td
              %input.pull-right{:type => "date", :name => "number_of_stocks"}
          %tr
            %th Client 
            %td
              %input.pull-right{:type => "text", :name => "purchase_price"}
      .alert.alert-info
        %small Create the initial report data to fill in the workers and tasks 