%form.form-inline
  - if (flash[:error])
    #error_explanation
      %h2= "#{pluralize(@report.errors.count, "error")} prohibited this report from being saved:"
  .group
    %label Date:
    %input#report-date{ :type => "date", :name => "date" }
  .group
    = render 'employees/list', :locals => { :user => @user }
  .group
    = render 'tasks/index', :locals => { :user => @user }
  .actions
    = f.submit 'Save'

