.reports{:name => @table_name}
  %table.table.table-hover
    %thead
      %h4
        - if (@name)
          = "#{@name} "
        = "Reports"
        - if (options[:name])
          %br=" for #{options[:name]}"
    %tbody
      %tr
        %th Summary
        %th Manager
        %th % Complete
        %th Hours
        %th Date
      - reports.each do |report|
        %tr
          %td= link_to report.summary, reports_path(report.id), :options => options, :remote => true
          %td= link_to report.manager.name, admin_path(report.manager.id), :options => options, :remote => true
          %td= report.tasks_completion_percent
          %td= report.hours
          %td= report.date