.grid#report-table
  .report
    .gridrow.well
      .wrapper
        %h3="Report: #{report.id}"
        %h4 Manager: #{report.manager.name}
      .wrapper.right
        %h4="Date: #{report.date}"
        %h5
          %a= link_to "New Report", new_report_path({:options => options, :div => div}), :remote => :true
      .blockquotes
        %h5
          %em="#{report.summary}"
    .gridrow.well
      %h4 Add Employees
      .form
        %form{'accept-charset' => "UTF-8", :class => "new_users_report",'method' => 'post', 'action' => '/users_reports.js', 'data-remote' => "true", 'id' => "new_users_report", 'onsubmit' => "return sub()" }
          %input{:type => 'hidden', :name => 'report_id', :value => "#{report.id}"}
          %select.form-control{:class => 'employee-select', :name => 'user_id'}
            - report.manager.company.employees.each do |employee|
              %option{:value => employee.id}=employee.name
          %input.submit{:type => 'submit', :name => 'submit'}
    - report.users_reports.each do |users_report|
      = render partial: 'users_reports/show', locals: {users_report: users_report, options: options, report: report, :div => div}