.grid#report-table
  .report
    .gridrow.well
      .wrapper
        %h3="Report: #{report.id}"
        %h4 Manager: #{report.manager.name}
      .wrapper.right
        %h4="Date: #{report.date}"
        %h5
          %a= link_to "New Report", new_report_path({:options => options, :div => div}), :remote => :true
      .blockquotes
        %h5
          %em="#{report.summary}"
      .add-employees
        %h5
          %a{:onclick => 'toggleEmployeeForm()'} Add Employees?
      = render partial: 'reports/employee_form', :locals => {report: report}
    - report.users_reports.each do |users_report|
      = render partial: 'users_reports/show', locals: {users_report: users_report, options: options, report: report, :div => div}

:javascript
  function toggleEmployeeForm() {
    var form = $('.employee-form');
    var prompt = $('.add-employees');
    if (form.is(":visible")) {
      form.hide();
      prompt.show();
    } else {
      form.show();
      prompt.hide();
    }
  }