.reports-table{:name => @table_name, :hidden => ""}
  %table
    %thead
      %h2
        - if (@name)
          = "#{name} "
        = "Reports"
        - if (options[:name])
          %br=" for #{options[:name]}"
    %tbody
      %tr
        %th Summary
        %th Manager
        %th % Complete
        %th Hours
        %th Date
      - reports.each do |report|
        %tr
          %td= link_to report.summary, reports(report.id)
          %td= link_to report.manager.name, managers(manager.id)
          %td= report.tasks_completion_percent
          %td= report.hours
          %td= report.date