!!!
%html
  %head
    %title TimeCard
    = stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/drastic-dark/style"
    = stylesheet_link_tag "application"
    = javascript_include_tag :application
    = csrf_meta_tag
  %body
    #container
      #header
        %h1.h1
          %a{:href => "/"} TimeCard
        #user-navigation
          = yield :user_nav
        #main-navigation
          = yield :main_nav
        #main
          #my-flash
          .flash
            - flash.each do |type, message|
              %div{:class => "message #{type}"}
                %p= message
          = yield
        #sidebar
          = yield :sidebar