!!!  5
%html
  %head
    %title Metrics
    = stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"
    = csrf_meta_tags
    %link{href: "https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel: "stylesheet"}
  %body 
    = render :partial => 'layouts/navbar'
    = yield
    = render :partial => 'layouts/footer'