!!!
%html
  %head
    %title TimeCard
    = stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/drastic-dark/style"
    = stylesheet_link_tag "application"
    = javascript_include_tag :application
    = cloudinary_js_config
    = csrf_meta_tag
    %script{:src => "http://js.pusher.com/2.0/pusher.min.js"}
  %body
    #container
      #header
        %h1
          %a{:href => "/"} TimeCard
        #user-navigation
          = yield :user_nav
        #main-navigation
          = yield :main_nav
      #wrapper.wat-cf
        #main
          #my-flash.flash
            - flash.each do |type, message|
              %div{:class => "message #{type}"}
                %p= message
          #app
            = yield
        - if (@user)
          #sidebar-wrapper
            = yield :sidebar